//
//  Secrets.xcconfig
//  SYM
//
//  Created by 박서연 on 2023/12/20.
//  Copyright © 2023 Mogong. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

/// 여기에 시크릿 키 입력해서 사용하기
// 예를 들면 앱 번들 아이디 또는 카카오톡 api 키 정도
// info에 추가할 때는 알맞은 plist 항목 선택 후 옆에 $와 함께 해당 변수명을 넣어주면 됨


// 예시로 앱 이름을 넣는 경우
DISPLAY_NAME = Speak Your Mind //$(DISPLAY_NAME)
kakao_ap = 1238u1293y781942
