<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWGXJoLfCdOtrYYMiXzF6kqqM3q7urPA8</string>
	<key>GCM_SENDER_ID</key>
	<string>986073130887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mogong.SYM</string>
	<key>PROJECT_ID</key>
	<string>speakyourmind-5001b</string>
	<key>STORAGE_BUCKET</key>
	<string>speakyourmind-5001b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986073130887:ios:7f53ad0c6950f5dc3bd522</string>
</dict>
</plist>